name: Backend API (Java) CI

on:
  push:
    branches: [ "master" ]
    paths:
      - 'titan/**'
      - '.github/workflows/ci-backend-api.yml'
  pull_request:
    branches: [ "master" ]
    paths:
      - 'backend-api/**'

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./titan

    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: market_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'gradle'
    - name: Run Unit Tests
      env:
        SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/market_db
        SPRING_DATASOURCE_USERNAME: postgres
        SPRING_DATASOURCE_PASSWORD: password
      run: ./gradlew test
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: ./titan
        push: ${{ github.event_name != 'pull_request' }}
        tags: kalebellington/market-metrics-titan:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
